<br />
<div class="container">
  <h1>Add Department</h1>
  <form #form="ngForm" (ngSubmit)="addEmployee()">
    <div class="mb-3">
      <label class="form-label">Employee Name</label>
      <input
        type="text"
        class="form-control"
        name="employeeName"
        [(ngModel)]="addEmployeeRequest.employeeName"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="addEmployeeRequest.email"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Phone</label>
      <input
        type="text"
        class="form-control"
        name="phone"
        [(ngModel)]="addEmployeeRequest.phone"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Date Of Birth</label>
      <input
        type="date"
        class="form-control"
        name="dateOfBirth"
        [(ngModel)]="addEmployeeRequest.dateOfBirth"
      />
    </div>
    <div class="mb-3">
      <label class="form-label">Department Name</label>
      <select
        class="form-select"
        [(ngModel)]="addEmployeeRequest.departmentId"
        name="departmentId"
        (change)="changeDepartment($event)"
      >
        <option
          *ngFor="let dept of availableDepartments"
          [value]="dept.departmentId"
        >
          {{ dept.departmentName }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
